@import url("https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700");
.highlight table td {
    padding:5px
}

.highlight table pre {
    margin:0
}

.highlight, .highlight .w {
    color:#d0d0d0
}

.highlight .err {
    color: #151515;
    background-color:#ac4142
}

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
    color:#888
}

.highlight .cp {
    color:#f4bf75
}

.highlight .nt {
    color:#f4bf75
}

.highlight .o, .highlight .ow {
    color:#d0d0d0
}

.highlight .p, .highlight .pi {
    color:#d0d0d0
}

.highlight .gi {
    color:#90a959
}

.highlight .gd {
    color:#ac4142
}

.highlight .gh {
    color: #6a9fb5;
    font-weight:bold
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
    color:#aa759f
}

.highlight .kc {
    color:#d28445
}

.highlight .kt {
    color:#d28445
}

.highlight .kd {
    color:#d28445
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
    color:#90a959
}

.highlight .sr {
    color:#75b5aa
}

.highlight .si {
    color:#8f5536
}

.highlight .se {
    color:#8f5536
}

.highlight .nn {
    color:#f4bf75
}

.highlight .nc {
    color:#f4bf75
}

.highlight .no {
    color:#f4bf75
}

.highlight .na {
    color:#6a9fb5
}

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
    color:#90a959
}

.highlight .ss {
    color:#90a959
}

html {
    background: #6C7989;
    background:#6C7989 linear_gradient(#6C7989, #434B55) fixed
}

body {
    padding: 50px 0;
    margin: 0;
    color: #555;
    font-weight:300
}

.wrapper {
    width: 680px;
    margin: 0 auto;
    background: #EDEDED;
    border-radius: 8px;
    box-shadow:rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px
}

header, section, footer {
    display:block
}

.topnav {
    background-color: #245894;
    border-radius: 8px 8px 0 0;
    overflow: hidden;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    transform: translate(0, 0px);
    z-index:100000
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 14px;
    position:sticky
}

.topnav a:hover {
    background-color: #4379CA;
    color: #f2f2f2;
    transition:.3s all
}

.topnav a.active {
    background-color: #EDEDED;
    color:#069
}

.topnav a.focus {
    background-color: #333;
    color:white
}

.topnav .icon {
    display:none
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width:100%
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display:none
    }

    .topnav a.icon {
        float: right;
        display:block
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position:relative
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top:0
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align:left
    }
}

#admysenseHeader {
    position: auto;
    top: 30px;
    left: 20px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 0px;
    color: #069;
    text-shadow: #fff 0 1px 0;
    word-wrap:break-word
}
.stusenseHeader {
    position: auto;
    top: 30px;
    left: 20px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 0px;
    color: #33CC66;
    text-shadow: #fff 0 1px 0;
    word-wrap:break-word
}
a {
    color: #069;
    text-decoration:none
}

p {
    margin: 0 0 20px;
    padding:0
}

b {
    color: #494949;
    font-weight:700
}

section {
    top: 0px;
    padding: 15px 20px;
    font-size: 15px;
    border-top: 1px solid #fff;
    background: linear_gradient(#fafafa, #DEDEDE 700px);
    border-radius: 8px 8px -8px -8px;
    position:relative
}

h1, h2, h3, h4, h5, h6 {
    color: #494949;
    padding: 0;
    margin: 0 0 20px;
    line-height:1.2
}

p, ul, ol, table, pre, dl {
    margin:0 0 20px
}

h1, h2, h3 {
    line-height:1.1
}

h1 {
    font-size:28px
}

h2 {
    color:#494949
}

h3, h4, h5, h6 {
    color:#494949
}

blockquote {
    margin: 0 -20px 20px;
    padding: 15px 20px 1px 40px;
    font-style: italic;
    background: #ccc;
    background: rgba(0, 0, 0, 0.06);
    color:#222
}

img {
    max-width:100%
}

code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    color: #333;
    font-size: 12px;
    overflow-x:auto
}

pre {
    padding: 20px;
    background: #3A3C42;
    color: #f8f8f2;
    margin:0 -20px 20px
}

pre code {
    color:#f8f8f2
}

li pre {
    margin-left: -60px;
    padding-left:60px
}

table {
    width: 100%;
    border-collapse:collapse
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom:1px solid #aaa
}

dt {
    color: #222;
    font-weight:700
}

th {
    color:#222
}

small {
    font-size:11px
}

hr {
    border: 0;
    background: #aaa;
    height: 1px;
    margin:0 0 20px
}

footer {
    width: 640px;
    margin: 0 auto;
    padding: 10px 0 0;
    color: #ccc;
    overflow:hidden
}

footer a {
    color: #fff;
    font-weight:10
}

footer p {
    float: left;
    font-size:12px
}

footer p + p {
    float:right
}

@media print, screen and (max-width: 740px) {
    body {
        padding:0
    }

    .wrapper {
        border-radius: 0;
        box-shadow: none;
        width:100%
    }

    footer {
        border-radius: 0;
        padding: 20px;
        width:auto
    }

    footer p {
        float: none;
        margin:0
    }

    footer p + p {
        float:none
    }
}

@media print, screen and (max-width: 580px) {
    header ul {
        display:none
    }

    header p.view {
        display:block
    }

    header p {
        width:100%
    }
}

@media print {
    header p.view a small:before {
        content: 'at https://github.com/'
    }
}

strong {
    font-weight: bold;
    color: #333333;
    font-size:15px
}

#outer {
    width: 100%;
    text-align: center;
    font-size: 22px;
    color: #494949;
    font-style:bold
}

a.author {
    color: #383839;
    font-weight: normal;
    font-style:italic
}
a.paper{color:#33CC66;font-weight:normal;text-decoration:underline}
a.impactcolor {
    text-decoration: none;
    color: #5888C4;
    transition: all 0.1s ease;
    font-weight:bold
}

a.hy {
    color:#4272A7
}

a.hy:link {
    color: #383839;
    font-weight: normal;
    transition: all 0.1s ease;
    font-weight:normal
}

a.hy:hover {
    color: #325790;
    font-weight: normal;
    text-decoration:underline
}

a.submit {
    color: #767676;
    font-weight: normal;
    border:1.2px solid #58B2D2
}

a.submit:link {
    color: #767676;
    font-weight: normal;
    transition: all 0.1s ease;
    background: #eaeaea;
    background: -moz-linear-gradient(top, #eaeaea 0%, #fff 100%);
    background: -webkit-linear-gradient(top, #eaeaea 0%, #fff 100%);
    background: linear-gradient(to bottom, #eaeaea 0%, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#ffffff', GradientType=0);
    padding: 1px 7px;
    margin: -3px -5px;
    line-height: 1.2;
    border-radius: 4px;
    display: inline-block;
    border:1.2px solid #58B2D2
}

a.submit:hover {
    color: #565656;
    font-weight: normal;
    transition: all 0.1s ease;
    background: #d3d3d3;
    background: -moz-linear-gradient(top, #d3d3d3 0%, #f4f4f4 100%);
    background: -webkit-linear-gradient(top, #d3d3d3 0%, #f4f4f4 100%);
    background: linear-gradient(to bottom, #d3d3d3 0%, #f4f4f4 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#d3d3d3', endColorstr='#f4f4f4', GradientType=0);
    margin: -3px -5px;
    line-height: 1.2;
    border-radius: 4px;
    display: inline-block;
    border:1.2px solid #58B2D2
}

.buttonstyle {
    height: 30px;
    width: 200px;
    background-color: #FFF;
    font-family: "Arial";
    font-weight: bold;
    color: #767676;
    cursor:pointer
}

.buttonstyle:hover {
    background-color: #007DBA;
    font-family: "Arial";
    font-weight: bold;
    color:#FFF
}

blockquote {
    margin: 0px 10px 50px 100px;
    padding: 0px 0 0 24px;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.3;
    color: #007DBA;
    border-left:3px solid #000000
}

.pullquote {
    width:100px
}

.pullquote-right {
    float: right;
    margin:-10px -20px 20px 20px
}

.pullquote-left {
    float: left;
    margin:0 20px 20px -120px
}

body, html {
    padding: 0;
    margin: 0;
    font: 14px/1.5 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif
}

h2 {
    margin-bottom: 10px;
    margin-top:30px
}

h3 {
    margin-bottom: 10px;
    margin-top:30px
}

h5 {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    color: #069;
    text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0;
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap:break-word
}

.hyphenate {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens:auto
}

strong {
    color: #494949;
    font-weight:700
}

#highlight {
    background: #FFFFFF;
    padding: 1px 3px;
    margin: -3px -5px;
    line-height: 1.2;
    border-radius: 4px;
    display:inline-block
}

.rmdcomment {
    padding: 1em 1em 1em 4em;
    margin-bottom: 10px;
    background: #AAA;
    position: relative
}


